      /* all page ===================================== */
      
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Righteous', 'Noto Sans TC', sans-serif;
      }
      
      html,
      body {
          height: 100%;
      }
      
      body {
          letter-spacing: 0.05rem;
          font-size: 0.95rem;
          line-height: 30px;
          color: #333333;
          background-color: #FFFFFF;
          overflow-x: hidden;
      }
      
      a {
          text-decoration: none;
          color: #333333;
          cursor: pointer;
      }
      
      i {
          cursor: pointer;
      }
      
      ul,
      ol,
      li {
          list-style: none;
      }
      
      .v-center {
          display: flex;
          vertical-align: middle;
          align-items: center;
      }
      
      .no-any-pd {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
      }
      /* 區塊padding調整 */
      
      .pd-top {
          padding-top: 40px;
      }
      
      .pd-bottom {
          padding-bottom: 40px;
      }
      /* 區塊padding調整(加大) */
      
      .pd-top-lg {
          padding-top: 80px;
      }
      
      .pd-bottom-lg {
          padding-bottom: 80px;
      }
      /* 首頁區塊大標(白底)、訂單查詢、會員訂單管理 */
      
      h1 {
          color: #005F69;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 32px;
      }
      /* 首頁區塊大標(藍底)、常見問題 */
      
      h2 {
          color: #ECECEC;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 32px;
      }
      /* 首頁標題(白底)、合作商家、會員註冊、完成註冊、訂單填寫、完成訂單、店家管理 */
      
      h3 {
          color: #005F69 !important;
          font-size: 1.2rem;
          font-weight: bold;
          line-height: 50px;
          margin-bottom: 0px !important;
      }
      /* 首頁標題(藍底) */
      
      h4 {
          color: #ECECEC;
          font-size: 1.2rem;
          font-weight: bold;
          line-height: 30px;
          text-align: right;
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          h4 {
              text-align: center;
          }
      }
      
      p {
          font-size: 0.9rem;
          margin: 0;
      }
      /* 有底色的內文文字 */
      
      .text-white {
          color: #ECECEC;
          line-height: 30px;
      }
      /* 文字置中 */
      
      .text-center {
          text-align: center;
      }
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .text-vertical {
              writing-mode: vertical-lr;
              letter-spacing: 0.5rem;
          }
      }
      /* 分隔線 */
      
      hr {
          border-top: 1px solid #c1c1c1;
          padding-bottom: 10px;
      }
      /* header ===================================== */
      /* 手機 */
      
      @media(max-width: 1024px) {
          header>.container {
              padding-top: 80px;
          }
      }
      /* 首頁index ======================================== */
      /* 有底色的區塊 */
      
      .sec-bg-color {
          background-color: #005F69;
          height: auto;
      }
      /* 服務介紹步驟icon */
      
      .step-icon {
          margin: auto;
          width: 40px;
          height: 40px;
          line-height: 35px;
          border: #005F69 3px solid;
          border-radius: 50%;
          color: #005F69;
          font-size: 1.5rem;
          font-weight: 600;
          text-align: center;
      }
      /* 按鈕位置&樣式 */
      
      .btnset-index {
          margin: -35px;
      }
      
      .btn-primary {
          background-color: #005F69 !important;
          border-color: #005F69 !important;
      }
      
      .btn-primary:hover,
      .btn-primary:focus,
      .btn-primary:active:hover {
          background-color: #478187 !important;
          border-color: #478187 !important;
      }
      /* 合作商家store ===================================== */
      
      .store {
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .store h3 {
          margin: 0px 15px;
      }
      
      .store:after {
          content: '';
          padding-top: 100px;
      }
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .storeinfo {
              display: flex;
              justify-content: center;
              align-items: center;
          }
      }
      
      .storeinfo h3 {
          display: inline;
      }
      /* 常見問題qna ===================================== */
      
      .qna {
          padding: 120px 80px 60px 80px;
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .qna {
              padding: 20px 0px 60px 0px;
          }
      }
      
      .btn-link {
          width: 100%;
          height: 100%;
          color: #005F69;
          text-decoration: none;
          text-align: left;
          line-height: 2.2rem;
      }
      
      .btn-link:hover {
          width: 100%;
          height: 100%;
          background-color: #005F69;
          color: #ECECEC;
          text-decoration: none;
          text-align: left;
      }
      
      .card-header {
          padding: 0px;
      }
      /* 登入/註冊register ======================================== */
      
      .register-leftpic {
          min-height: 100vh;
          background-image: url(../images/Registered_left_footer.jpg);
          background-size: cover;
      }
      
      .register {
          width: 100%;
          text-align: center;
      }
      
      .register-logo {
          height: 70px;
          background-color: #005F69;
      }
      
      .register-logo img {
          height: 70px;
          width: 120px;
          max-width: 30%;
      }
      
      .register input {
          width: 60%;
          height: 30px;
          border-radius: 10px;
          padding: 10px;
          margin: 10px auto;
          border: #8b8b8b 1px solid;
          font-size: 0.85rem;
          letter-spacing: 2px;
          text-indent: 2px;
          outline: none;
      }
      
      .register .loginbtn,
      .register .Registerbtn {
          display: block;
          width: 100px;
          line-height: 10px;
          border-radius: 50px;
          background-color: #005F69;
          color: #ECECEC;
          outline: none;
      }
      
      .register .loginbtn:hover,
      .register .Registerbtn:hover {
          outline: none;
          background-color: #478187;
          cursor: pointer;
      }
      
      .msg_mail,
      .msg_pwd,
      .msg_confirm_pwd,
      .errmsg-register {
          width: 60%;
          margin: auto;
          position: relative;
          top: -15px;
          text-align: right;
          height: 0px;
          font-size: 0.65rem;
          color: #e18989;
      }
      /* 會員首頁member_index ======================================== */
      
      .member-index {
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: #005F69;
          overflow: hidden;
      }
      
      .send-btn {
          display: block;
          text-align: center;
          width: 60px;
          height: 60px;
          line-height: 60px;
          background: #478187;
          font-size: 0.7rem;
          color: #ECECEC;
          border-radius: 50%;
      }
      
      .send-btn:hover {
          text-decoration: none;
          color: #478187;
          background: #ECECEC;
      }
      /* 填寫訂單order ======================================== */
      /* 頁首 */
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .order {
              width: 100%;
              height: 80px;
              background-color: #005F69;
          }
          .order h2 {
              display: inline;
              vertical-align: middle;
          }
          .order img {
              margin: 0px 25px;
              height: 80px;
              width: 120px;
              max-width: 30%;
          }
          .order-head {
              float: right;
              margin: 0px 25px;
              height: 80px;
              line-height: 80px;
          }
          .order-head span {
              font-size: 0.85rem;
              letter-spacing: 0.1rem;
              color: #ECECEC;
              padding: 5px;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .order {
              width: 100%;
              height: 120px;
              background-color: #005F69;
              text-align: center;
          }
          .order h2 {
              display: inline;
              vertical-align: middle;
              margin: 0px 10px;
          }
          .order img {
              height: 80px;
              width: 100%;
              max-width: 30%;
          }
          .order-head span {
              font-size: 0.85rem;
              color: #ECECEC;
          }
      }
      
      .order-info p {
          color: #333333;
          font-size: 0.95rem;
          line-height: 40px;
          margin-bottom: 0px;
      }
      /* 購物證明 */
      
      .order-upload {
          font-size: 1rem;
          height: 40px;
          border: none;
          outline: none;
      }
      
      .order-image {
          width: 300px;
      }
      /* 店家地圖 */
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .order-map {
              width: auto;
              text-align: center;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .order-map {
              display: none;
          }
      }
      /* 取貨店家資訊 */
      
      .order-shop-logo {
          font-size: 1rem;
          height: 60px;
          line-height: 60px;
          background-color: #005f69;
          color: #ECECEC;
      }
      
      .order-shop-logo img {
          width: 120px;
          height: auto;
          margin: 0px 20px;
      }
      
      .order-shop-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      
      .order-shop-info p {
          line-height: 40px;
          margin-bottom: 0rem;
      }
      
      .order-shop-info img {
          width: 50%;
      }
      /* 按鈕 */
      
      .order-btn {
          text-align: center;
      }
      
      .order-btn a {
          width: 100px;
          height: 35px;
          line-height: 35px;
          border-radius: 50px;
          background-color: #005F69;
          color: #ECECEC;
          font-size: 0.9rem;
      }
      
      .order-btn a:hover {
          text-decoration: none;
          outline: none;
          color: #ECECEC;
          background-color: #478187;
          cursor: pointer;
      }
      /* 登出 */
      
      .logout-submit,
      .back-btn {
          font-size: 0.85rem;
          line-height: 30px;
          border-radius: 10%;
          padding: 5px;
          color: #478187;
          background-color: #cbe4e6;
      }
      
      .logout-submit:hover,
      .back-btn:hover {
          text-decoration: none;
          color: #478187;
          background-color: #ECECEC;
      }
      /* 完成訂單registerfinish ======================================== */
      /* 頁首 */
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .order-fin {
              width: 100%;
              height: 80px;
              background-color: #005F69;
          }
          .order-fin img {
              margin: 0px 25px;
              height: 80px;
              width: 120px;
              max-width: 30%;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .order-fin {
              width: 100%;
              height: 80px;
              background-color: #005F69;
              text-align: center;
          }
          .order-fin img {
              height: 80px;
              width: 100%;
              max-width: 30%;
          }
      }
      
      .order-fin-btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }
      
      .order-fin-btn h3 {
          font-size: 1.8rem;
          line-height: 48px;
          letter-spacing: 0.7rem;
          text-indent: 0.7rem;
      }
      
      .order-fin-btn a {
          text-align: center;
          width: 100px;
          height: 35px;
          line-height: 35px;
          border-radius: 50px;
          background-color: #005F69;
          color: #ECECEC;
          font-size: 0.9rem;
          margin: 20px 0px 100px 0px;
      }
      
      .order-fin-btn a:hover {
          text-decoration: none;
          outline: none;
          color: #ECECEC;
          background-color: #478187;
          cursor: pointer;
      }
      /* 行動管理員後台登入mem_index ======================================== */
      
      .mem-index {
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: #005F69;
          overflow: hidden;
      }
      
      .mem-index .login {
          background-color: #ffffff;
          height: auto;
          line-height: 10px;
          padding: 30px;
          border-radius: 10px;
          text-align: center;
      }
      
      .mem-index input {
          margin-bottom: 15px;
      }
      
      .mem-index .loginbtn {
          width: 30%;
          height: 30px;
          border-radius: 50px;
          padding: 5px;
          border: none;
          background-color: #005F69;
          color: #ECECEC;
          font-size: 0.9rem;
          letter-spacing: 5px;
          text-indent: 5px;
      }
      
      .mem-index .loginbtn:hover {
          text-decoration: none;
          outline: none;
          color: #ECECEC;
          background-color: #478187;
          cursor: pointer;
      }
      
      .errmsg-mem {
          text-align: center;
          color: #ECECEC;
      }
      /* 訂單管理member_list ======================================== */
      /* 頁首 */
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .member-list {
              width: 100%;
              height: 80px;
          }
          .member-list h1 {
              display: inline;
              vertical-align: middle;
          }
          .member-list img {
              margin: 0px 25px;
              width: 120px;
              height: 80px;
              max-width: 30%;
          }
          .member-list-head {
              float: right;
              margin: 0px 25px;
              height: 80px;
              line-height: 80px;
          }
          .member-list-head span {
              font-size: 0.85rem;
              letter-spacing: 0.1rem;
              color: #005F69;
              padding: 5px;
          }
          .table {
              text-align: center;
              margin-top: 30px;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .member-list {
              width: 100%;
              text-align: center;
              margin: 20px 0px;
          }
          .member-list h1 {
              display: inline;
              vertical-align: middle;
              margin: 0px 10px;
          }
          .member-list img {
              height: 60px;
              width: 100%;
              max-width: 30%;
              margin: 0px 10px;
          }
          .member-list-head span {
              font-size: 0.85rem;
              color: #005F69;
          }
          .table {
              text-align: center;
          }
      }
      
      .table-primary th {
          color: #ECECEC;
          background-color: #005F69 !important;
          border-color: #005F69 !important;
      }
      
      .table thead th {
          vertical-align: middle;
      }
      /* 頁碼 */
      
      .pagenumber {
          text-align: center;
          margin: 30px;
      }
      
      .pagenumber p {
          margin: 10px;
      }
      
      ul.pagination {
          display: inline-block;
          padding: 0;
          margin: 0;
      }
      
      ul.pagination li {
          display: inline;
      }
      
      ul.pagination li a {
          color: #333333;
          padding: 10px;
          text-decoration: none;
          border-radius: 5px;
      }
      
      ul.pagination li a.active {
          background-color: #005F69;
          color: #ECECEC;
      }
      
      ul.pagination li a:hover:not(.active) {
          background-color: #ECECEC;
      }
      /* 會員訂單管理order_list ======================================== */
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .order-list-left {
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: 100vh;
              background-color: #005F69;
          }
          .order-list-right {
              margin: auto;
          }
          .order-list-right h1 {
              display: inline;
              vertical-align: middle;
          }
          .order-list-admin {
              float: right;
          }
          .order-list-head {
              margin-top: 30px;
          }
          .order-list-admin span {
              font-size: 0.85rem;
              letter-spacing: 0.1rem;
              color: #005F69;
              padding: 5px;
          }
          .order-list-menu {
              width: 45%;
          }
          .order-pic {
              width: 180px;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .order-list-right {
              text-align: center;
          }
          .order-list-right h1 {
              padding-top: 30px;
          }
          .order-list-admin {
              padding-bottom: 30px;
          }
          .order-list-admin span {
              font-size: 0.85rem;
              letter-spacing: 0.1rem;
              color: #005F69;
              padding: 5px;
          }
          .order-list-menu {
              display: flex;
              background-color: #005F69;
          }
          .order-list-menu img {
              width: 130px;
          }
          .order-pic {
              width: 150px;
          }
      }
      
      .mask {
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          display: none;
      }
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .btn-mask {
              width: 60%;
              height: 80%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #fff;
              display: none;
              border-radius: 20px;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .btn-mask {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #ECECEC;
              display: none;
              padding: 20px;
          }
      }
      
      .btn-mask i {
          padding: 10px 15px 0px 0px;
          position: absolute;
          right: 0;
      }
      
      .btn-mask p {
          display: inline;
          color: #005F69;
          font-size: 0.85rem;
          font-weight: bold;
          line-height: 34px;
      }
      
      .mask-content {
          text-align: center;
      }
      /* 店家管理store_list ======================================== */
      /* 按鈕 */
      
      .look-btn,
      .edit-btn,
      .delete-btn,
      .add-btn,
      .del-y-btn,
      .del-n-btn {
          text-align: center;
          display: inline;
      }
      
      .look-btn a,
      .edit-btn a,
      .delete-btn a {
          width: 60px;
          height: 35px;
          line-height: 35px;
          border-radius: 50px;
          background-color: #005F69;
          color: #ECECEC;
          font-size: 0.9rem;
      }
      
      .look-btn a:hover,
      .edit-btn a:hover,
      .delete-btn a:hover {
          text-decoration: none;
          outline: none;
          color: #ECECEC;
          background-color: #478187;
          cursor: pointer;
      }
      
      .add-btn a {
          width: 90px;
          height: 35px;
          line-height: 35px;
          border-radius: 50px;
          background-color: #cbe4e6;
          color: #478187;
          font-size: 0.9rem;
      }
      
      .add-btn a:hover {
          text-decoration: none;
          outline: none;
          color: #478187;
          background-color: #ECECEC;
          cursor: pointer;
      }
      
      .del-y-btn a {
          width: 60px;
          height: 35px;
          line-height: 35px;
          border-radius: 50px;
          background-color: #005F69;
          color: #ECECEC;
          font-size: 1rem;
          margin: 5px;
      }
      
      .del-y-btn a:hover {
          text-decoration: none;
          outline: none;
          color: #ECECEC;
          background-color: #478187;
          cursor: pointer;
      }
      
      .del-n-btn a {
          width: 60px;
          height: 35px;
          line-height: 35px;
          border-radius: 50px;
          background-color: #cbe4e6;
          color: #478187;
          font-size: 1rem;
          margin: 5px;
      }
      
      .del-n-btn a:hover {
          text-decoration: none;
          outline: none;
          color: #478187;
          background-color: #ECECEC;
          cursor: pointer;
      }
      
      .submit {
          width: 110px;
          height: 35px;
          line-height: 35px;
          border-radius: 50px;
          background-color: #005F69;
          color: #ECECEC;
          font-size: 1rem;
          letter-spacing: 3px;
          text-indent: 3px;
          border: none;
      }
      
      .submit:hover {
          text-decoration: none;
          outline: none;
          color: #ECECEC;
          background-color: #478187;
          cursor: pointer;
      }
      /* 隱藏區塊-新增 */
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .add-mask {
              width: 60%;
              height: 70%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #fff;
              display: none;
              border-radius: 20px;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .add-mask {
              width: 100%;
              height: 85%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #ECECEC;
              display: none;
              padding: 20px;
          }
      }
      
      .add-mask i,
      .check-mask i,
      .edit-mask i,
      .del-mask i {
          padding: 10px 15px 0px 0px;
          position: absolute;
          right: 0;
      }
      
      .add-mask p,
      .check-mask p,
      .edit-mask p,
      .del-mask p {
          display: inline;
          color: #005F69;
          font-size: 0.85rem;
          font-weight: bold;
          line-height: 34px;
      }
      /* 隱藏區塊-查看 */
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .check-mask {
              width: 30%;
              height: 60%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #fff;
              display: none;
              border-radius: 20px;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .check-mask {
              width: 100%;
              height: 50%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #ECECEC;
              display: none;
              padding: 20px;
          }
      }
      /* 隱藏區塊-編輯 */
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .edit-mask {
              width: 60%;
              height: 70%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #fff;
              display: none;
              border-radius: 20px;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .edit-mask {
              width: 100%;
              height: 90%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #ECECEC;
              display: none;
              padding: 20px;
          }
      }
      /* 隱藏區塊-刪除 */
      /* 桌機 */
      
      @media(min-width: 1025px) {
          .del-mask {
              width: 25%;
              height: 30%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #fff;
              display: none;
              border-radius: 20px;
          }
      }
      /* 手機 */
      
      @media(max-width: 1024px) {
          .del-mask {
              width: 100%;
              height: 25%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              background-color: #ECECEC;
              display: none;
              padding: 20px;
          }
      }