.content {
    display: block;
    float: right;
    width: 70%;
    height: 1080px;
    background-color: #fff;
    text-align: left;
}

.wrap {
    display: flex;
    justify-content: space-between
}

.content h3 {
    font-size: 40px;
    padding: 40px;
    color: #8b8b8b;
}

.wrap a {
    font-size: 20px;
    padding-top: 50px;
    padding-right: 40px;
    color: #000;
    text-decoration: none;
}

.content hr {
    border: 0;
    height: 2px;
    background-color: #8b8b8b;
    color: #d4d4d4;
    margin-left: 20px;
    margin-right: 20px;
    /* IE6 */
}


/* 表格區css */

tr {
    text-align: center;
    color: #000000;
}

td {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

td img {
    width: 50%;
}

th {
    padding: 10px;
    color: #8b8b8b;
}

table tbody tr:nth-child(odd) {
    background-color: #eee;
}

table thead {
    background-color: #fff;
    color: #8b8b8b;
    font-size: 16px;
}

table thead th:first-child {
    border-radius: 5px 0 0 0;
    border: 1px solid #fff;
}

table thead th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #fff;
}

table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}


/* 頁碼區css */