/* 整頁版面樣式 ======================================== */
* {
  font-family: 'Righteous', 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


header {
  height: 55px;
  background-color: #005f69;
  color: #fff;
  font-size: 7px;
  letter-spacing: 5px;
}

.Order_logo img {

  width: 100px;
  height: auto;
  margin-left: 20px;
  padding-top: 5px;

}

.container {
  padding: 5%;
  padding-bottom: 3%;
}

/*內容區------------------------------*/
/*
#font03{
  font-size: 30px;
  writing-mode:tb-rl;
  letter-spacing:6px;

}
*/

#font04 {
  font-size: 16px;
  margin: 0;
}

.Order_time {
  width: 444px;
  height: 35px;
}

.Ordermap {
  text-align: center;
}


.imgshow > img {
  width: 330px;
  display: flex;
  justify-content: flex-end;
}

#col_right {
  margin-top: 40px;
}

#Remarks {
  width: 444px;
  height: 100px;
}

.space {
  height: 100px;
}

/*送出btn-----------------------------*/

footer {
  padding-top: 10px;
  width: auto;
  height: 100hv;


}

.btndiv {
  margin: 0 auto;
  width: 600px;
  height: 160px;
  padding: 3%;
}







/*Orderfinish css========================================*/


#finishbtn {
  width: 140px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  margin: 35px auto;
  display: flex;
  justify-content: center;
  background-color: #005F69;
  color: #fff;
  letter-spacing: 6px;
  text-decoration: none;
}

.o_h3 {
  font-size: 36px;
  letter-spacing: 16px;
  margin-bottom: 5%;
  padding-left: 2%;
}

.col-sm {
  margin-top: 20%;
  text-align: center;
}

/*information css========================================*/

.col {
  width: 200px;
  height: 40px;
  letter-spacing: 3px;
}

.col_laft {
  text-align: right;
}

.col_right {
  text-align: left;
}

.row_information {
  padding-right: 30%;
  padding-left: -20%;
}

.container_in {
  padding: 6% 20% 0% 10%;
}

.storephoto {

  text-align: center;
  display: flex;
  justify-content: center;

}

.storephoto > img {
  margin-top: 20px;
  width: 630px;
}

.confirmbtn {
  width: 260px;
  height: 40px;
  border-radius: 50px;
  margin: 35px auto;
  border: 1px solid #8b8b8b;
  display: flex;
  justify-content: center;
  background-color: #005F69;
  color: #fff;
  letter-spacing: 6px;
  text-align: center;
}

/*<!--第二種寫法帶JQ-->*/

.jq-post .thumb-image {
  width: 200px;
  padding: 5px;
  margin-left: 10px;
  display: block;
  float: left;
}

.thumb-image {
  width: 350px;
}

.jq-post img {

  text-align: center;
}

.jq-content .related-post {
  box-sizing: border-box;
}

/* ============響應式手機===================*/

@media screen and (max-width:500px) {
  .col-md-5_media {
    margin-left: 35%;
  }

  .wrapper_media {
    margin-left: 10%;
    margin-top: 10px;
  }

  .col-md-5_size {
    margin-top: 100px;
  }

  .Ordermap_media {
    width: 500px;
  }
}
