/*整體樣式*/

* {
    font-family: 'Righteous', 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    color: #fff;
    letter-spacing: 1px;
    overflow: auto;
}

.menu {
    display: block;
    position: absolute;
    width: 30%;
    height: 1080px;
    background-color: #005F69;
    text-align: center;
    float: left;
}

.menu #logo {
    display: block;
    padding-top: 150px;
    padding-bottom: 50px;
}

.menu img {
    width: 50%;
}

.content {
    display: block;
    float: right;
    width: 70%;
    height: 1080px;
    background-color: #fff;
    text-align: left;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.content h3 {
    font-size: 40px;
    padding: 40px;
    color: #8b8b8b;
}

.wrap a {
    font-size: 20px;
    padding-top: 50px;
    padding-right: 40px;
    color: #000;
    text-decoration: none;
}

.content hr {
    border: 0;
    height: 2px;
    background-color: #8b8b8b;
    color: #d4d4d4;
    margin-left: 20px;
    margin-right: 20px;
}


/* 表格區css */

.table {
    width: 90%;
    margin: 30px auto;
}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
}

tr {
    text-align: center;
    color: #000000;
}

td {
    padding-top: 15px;
    padding-bottom: 15px;
}

td img {
    width: 15%;
}

th {
    padding: 10px;
    color: #8b8b8b;
}

table tbody tr:nth-child(odd) {
    background-color: #eee;
}

table thead {
    background-color: #fff;
    color: #8b8b8b;
    font-size: 16px;
}

table thead th:first-child {
    border-radius: 5px 0 0 0;
    border: 1px solid #fff;
}

table thead th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #fff;
}

table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}


/* 頁碼區css */

.pagenumber {
    text-align: center;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #005F69;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.Mask {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.btnMask {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 80%;
    height: 80%;
    background-color: #fff;
    display: none;
    border-radius: 20px;
}

.btnMask1 {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 80%;
    height: 80%;
    background-color: #fff;
    display: none;
    border-radius: 20px;
}

.btnMask2 {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 80%;
    height: 80%;
    background-color: #fff;
    display: none;
    border-radius: 20px;
}

.btnMask3 {
    position: absolute;
    left: 650px;
    top: 200px;
    width: 40%;
    height: 40%;
    display: none;
    background-color: #fff;
    border-radius: 20px;
}

p {
    color: #000;
}

i {
    padding-right: 10px;
    padding-top: 10px;
    color: #000;
    float: right;
}

.Mask_content {
    height: auto;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    text-align: center;
}

.Mask_delete {
    height: auto;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    text-align: center;
}

.btnMask3 img {
    width: 20%;
}

.btnMask3 p {
    display: inline-block;
    width: 80%;
    margin-left: 200px;
    padding-top: 30px;
}

.Mask_delete h5 {
    color: #000;
    font-size: 35px;
    margin-top: 150px;
}

.Mask_content h5 {
    color: #000;
    font-size: 30px;
}

.Mask_content p {
    color: #8b8b8b;
    font-size: 20px;
}

.mask_info {
    display: flex;
    margin-top: 10px;
    width: 80%;
    border: 1px solid #8b8b8b;
    border-radius: 20px;
    margin-left: 150px;
}

.mask_info2 {
    display: flex;
    margin-top: 10px;
    width: 80%;
    margin-left: 150px;
}

.table_left {
    display: block;
    width: 50%;
    text-align: left;
    padding-left: 100px;
    color: #000;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table_left th {
    color: #000;
}

.table_left tr {
    color: #8b8b8b
}

.table_right {
    display: block;
    width: 50%;
    text-align: left;
    padding-left: 100px;
    color: #000;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#store_name {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: auto;
}

#store_address {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 300px;
}

#store_number {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 150px;
}

.store_Area {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 150px;
    background: #fff;
    border: 0 none;
    border-radius: 5px;
    font-size: 18px;
}

#store_note {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 400px;
}

#store_time {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
    width: 250px;
}

.submit {
    background-color: #005F69;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 120px;
    border-radius: 40px;
    color: #fff;
    font-size: 22px;
    border-color: #005F69;
    float: right;
}

@media screen and (max-width: 1536px) and (min-width: 1440px) {
    body {
        background-color: #fff;
        color: #fff;
        min-height: 100%;
        letter-spacing: 1px;
        overflow: auto;
    }
    .menu {
        display: block;
        position: absolute;
        width: 30%;
        min-height: 100%;
        background-color: #005F69;
        text-align: center;
        float: left;
    }
    .content {
        display: block;
        float: right;
        width: 70%;
        height: 100%;
        background-color: #fff;
        text-align: left;
    }
    .Mask_content {
        height: auto;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        text-align: center;
    }
    .Mask_content h5 {
        color: #000;
        font-size: 25px;
    }
    .mask_info {
        display: flex;
        margin-top: 10px;
        width: 80%;
        border: 1px solid #8b8b8b;
        border-radius: 20px;
        margin-left: 100px;
    }
    .mask_info2 {
        display: flex;
        margin-top: 10px;
        width: 80%;
        margin-left: 100px;
    }
    .table_left {
        display: block;
        width: 50%;
        text-align: left;
        padding-left: 20px;
        color: #000;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #store_note {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px;
        width: 200px;
    }
    #store_time {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 150px;
        width: 250px;
    }
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 150px;
}

@media screen and (max-width: 1366px) and (min-width: 1000px) {
    body {
        background-color: #fff;
        color: #fff;
        min-height: 100%;
        letter-spacing: 1px;
        overflow: auto;
    }
    .menu {
        display: block;
        position: absolute;
        width: 30%;
        min-height: 100%;
        background-color: #005F69;
        text-align: center;
        float: left;
    }
    .content {
        display: block;
        float: right;
        width: 70%;
        height: 100%;
        background-color: #fff;
        text-align: left;
    }
    .Mask_content {
        height: auto;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        text-align: center;
    }
    .Mask_content h5 {
        color: #000;
        font-size: 25px;
    }
    .Mask_content p {
        color: #8b8b8b;
        font-size: 16px;
    }
    .mask_info {
        display: flex;
        margin-top: 5px;
        width: 80%;
        border: 1px solid #8b8b8b;
        border-radius: 20px;
        margin-left: 100px;
    }
    .mask_info2 {
        display: flex;
        margin-top: 5px;
        width: 80%;
        margin-left: 100px;
    }
    .table_left {
        display: block;
        width: 50%;
        text-align: left;
        padding-left: 20px;
        color: #000;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .table_right {
        display: block;
        width: 50%;
        text-align: left;
        padding-left: 100px;
        color: #000;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #store_note {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px;
        width: 200px;
    }
    #store_time {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 150px;
        width: 250px;
    }
    .Mask_delete h5 {
        color: #000;
        font-size: 30px;
        margin-top: 100px;
    }
}